/* Modifs pour les liens partenaires */
.flex {
    display : flex;
    width : auto;
}

.space-between__row {
    justify-content: space-between;
    flex-direction: row;
}

.width-100 {
    width : 100%;
    margin-top : 20px;
}

/* Pour les boutons contact */

.grey {
    color: #333333!important;
}